*{
    margin:0;
}

.container {
  width:500px;
  height: 500px;
  background-color: whitesmoke;
}

.item {
  width: 100px;
  height: 100px;
  background-color: lightpink;
  margin: 10px;;
  border: 1px;
}

.item2 {
    position: sticky;
    top:10px;
    right: 50%;
    transform: translate(-50%, -50%);
}